
<div id="global">
	<div id="part_left">
		<h1>Les étudiants inscrit</h1>
		<div class="span6">
		    <table class="tg">
			    <tr>
			        <th width="80">ID</th>
			        <th width="120">Nom</th>
			        <th width="120">Prenom</th>        
			        <th width="60">Action</th>

			    </tr>    
			    
			    <tr ng-repeat="etudiant in etudiants">
			        <td>{{ etudiant.id }}</td>
			        <td>{{ etudiant.nom }}</td>
			        <td>{{ etudiant.prenom }}</td>
			        <td><button ng-click="edit" class="button">Editer</button></td>
		            <td><button ng-click="delete" class="btn">Supprimer</button></td>                 	       
			    </tr>    
		    </table>    
		</div>
	</div>

	<div id="part_right">
		<h1>Inscrire un étudiant :</h1>
		<form ng-submit="addItem(nom,prenom,dateNaissance,username,pass)" > 
			<div id="inputInscription">
			    <div><input ng-model="nom" required></div>
			    <div><input ng-model="prenom" required></div>
			    <div><input ng-model="dateNaissance" required></div>
			    <div><input ng-model="username" required></div>
			    <div><input ng-model="pass" required></div>
			    <input type="submit" id="submit" value="Ajouter" class="btnBlue"/>			    
			</div>
		</form>
	</div>
</div>